# VG-stats H Griffin 6.27.20
## videogame-stats

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('./vgsales.csv', delimiter=',', encoding="utf-8-sig")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [14]:
#most common video game publisher
most_common_publisher = df["Publisher"].mode()[0]
most_common_publisher

'Electronic Arts'

In [15]:
#most common platform
most_common_platform = df["Platform"].mode()
most_common_platform

0    DS
dtype: object

In [16]:
#most common genre
most_common_genre = df["Genre"].mode()
most_common_genre

0    Action
dtype: object

In [17]:
na_average = df["NA_Sales"].median()
na_average

0.08

In [9]:
#most common video game publisher
df["Publisher"].mode()

0    Electronic Arts
dtype: object

In [25]:
with_median = df[df["NA_Sales"] == na_average]
with_median_count = len(with_median)
mid_of_median = with_median_count // 2

ten_sellers = with_median[mid_of_median - 5:mid_of_median + 5]

ten_sellers

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9931,9933,Spider-Man: Edge of Time,3DS,2011.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9934,9936,Turok: Evolution,GBA,2002.0,Shooter,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.12
9957,9959,Deadpool,XOne,2015.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9996,9998,GT Advance 2: Rally Racing,GBA,2001.0,Racing,THQ,0.08,0.03,0.00,0.00,0.11
10000,10002,A Witch's Tale,DS,2009.0,Role-Playing,Nippon Ichi Software,0.08,0.00,0.03,0.01,0.11
10012,10014,Nickelodeon Dance,X360,2011.0,Misc,Take-Two Interactive,0.08,0.02,0.00,0.01,0.11
10020,10022,Phantasy Star Collection,GBA,2002.0,Role-Playing,Atari,0.08,0.03,0.00,0.00,0.11
10022,10024,LEGO Knights' Kingdom,GBA,2004.0,Action,THQ,0.08,0.03,0.00,0.00,0.11
10024,10026,Family Game Night 4: The Game Show,PS3,2011.0,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11
10026,10028,NBA Jam 2002,GBA,2002.0,Sports,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.11

In [29]:
top_twenty = df[["Name"]].head(20)
top_twenty
df[["Name", "Global_Sales"]]

                                                   Name  Global_Sales
0                                            Wii Sports         82.74
1                                     Super Mario Bros.         40.24
2                                        Mario Kart Wii         35.82
3                                     Wii Sports Resort         33.00
4                              Pokemon Red/Pokemon Blue         31.37
...                                                 ...           ...
16593                Woody Woodpecker in Crazy Castle 5          0.01
16594                     Men in Black II: Alien Escape          0.01
16595  SCORE International Baja 1000: The Official Game          0.01
16596                                        Know How 2          0.01
16597                                  Spirits & Spells          0.01

[16598 rows x 2 columns]

In [32]:
#standard deviation away from mean na slales
global_top_seller = df.iloc[0].NA_Sales
print(global_top_seller)
na_mean = df['NA_Sales'].mean()
na_std = df["NA_Sales"].std()
distance = global_top_seller - na_mean
print(distance)
deviation = distance / na_std
print(deviation)

41.49
41.22533257018918
50.47898767479108

In [33]:
wii_games = df[df["Platform"] == 'Wii']
wii_games_mean = wii_games["Global_Sales"].mean()
wii_games_mean

0.6994037735849057

In [34]:
not_wii_games = df[df["Platform"] != 'Wii']
not_wii_games_mean = not_wii_games["Global_Sales"].mean()
not_wii_games_mean

0.5233896418516336

In [35]:
wii_vs_others = wii_games_mean / not_wii_games_mean
wii_vs_others

1.3362965516676526

In [ ]:
def test():
    def assert_equal(actual, expected)
    assert actual == expected, f'expected {expected} but got {actual}'

    assert_equal(most_common_publisher, None)
    assert_equal(most_common_platform, None)
    assert_equal(most_common_genre, None)
    assert_equal(most_common_, None)
    assert_equal(most_common_publisher, None)
    assert_equal(most_common_publisher, None)

    print('good dood')
test()